/* Media querry index.html */

@media(max-width:1600px) {

    .video_section {
        width: 85rem;
        height: 40rem;
        right: 5rem;
    }

    .about_text {
        width: 85rem;
        right: 5rem;
        bottom: 5rem;
    }

    .cards_wp {

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 5rem;

    }

    .mortgage-paragraph {
        width: 90rem;
        font-size: 2.5rem;
    }

    html {
        font-size: 57%;
    }


}

@media(max-width:1200px) {

    .section_about {
        flex-direction: column;
        height: 140vh;

    }

    .video_section {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 80rem;
    }

    .about_text {
        left: 50%;
        transform: translateX(-50%);
        width: 80rem;
    }

    .about-heading {
        margin-top: 10rem;
    }

    .hero-heading span {
        font-size: 10rem;
    }

    .hero_text {
        width: 45rem;
        font-size: 3rem;
    }

    html {
        font-size: 45%;
    }

}
@media (max-width:980px) {
    .hero-heading span {
        font-size: 8rem;
    }

    .hero-heading {
        height: 15rem;

    }

    .mortgage-paragraph {
        width: 90rem;
        font-size: 2.5rem;
    }

    html {
        font-size: 45%
    }
}

media (max-width:880px) {
    .hero-heading span {
        font-size: 8rem;
    }

    .hero-heading {
        height: 15rem;

    }

    .mortgage-paragraph {
        width: 90rem;
        font-size: 3rem;
    }  

    html {
        font-size: 37%
    }

    .close_btn {
        bottom: -8%;
        right: 3%;
        font-size: 15px;

    }
}

@media(max-width:750px) {

    .hero-heading span {
        font-size: 8rem;
    }

    .hero-heading {
        height: 15rem;

    }

    .footer {
        padding: 0 5rem;
    }

    .copyright {
        padding-left: 2rem;
    }
    .mortgage-paragraph {
        width: 80rem;
        font-size: 3rem;
    }
    .close_btn {
        bottom: -8%;
        right: 3%;
        font-size: 15px;

    }

    html {
        font-size: 40%;
    }
}
@media (max-width:700px) {
    .hero-heading span {
        font-size: 5rem;
    }

    .booking_banner {
        height: 12vh;
    }

    .hero-heading {
        height: 10rem;

    }

    .mortgage-paragraph {
        width: 80rem;
        font-size: 3rem;
    }

    .mortgage_calc {

        height: 60vh;
    }

    .mortgage_calc form {
        flex-direction: column;
        gap: 2rem;
    }

    .mortgage_calc .top {
        height: 50vh;
    }

    .results {
        flex-direction: column;
        text-align: center;
    }

    html {
        font-size: 35%
    }

    .close_btn {
        bottom: -10%;
        right: 3%;
        font-size: 15px;

    }
}
@media (max-width:650px) {
    .hero-heading span {
        font-size: 5rem;
    }

    .booking_banner {
        height: 13vh;
    }

    .hero-heading {
        height: 10rem;

    }

    .mortgage-paragraph {
        width: 75rem;
        font-size: 3rem;
    }
canvas#myChart{
    padding-bottom: 2rem;
}
    html {
        font-size: 35%
    }

    .close_btn {
        bottom: -10%;
        right: 3%;
        font-size: 15px;

    }
}
@media (max-width:600px) {
    .hero-heading span {
        font-size: 8rem;
    }

    .booking_banner {
        height: 13vh;
    }

    .hero-heading {
        height: 10rem;

    }

    .mortgage-paragraph {
        width: 65rem;
        font-size: 3rem;
    }

    html {
        font-size: 30%
    }

    .close_btn {
        bottom: -10%;
        right: 3%;
        font-size: 15px;

    }
}

@media(max-width:550px) {

    

    .section_about {
        height: 100vh;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        padding-bottom: 5rem;
    }

    .social {
        margin-bottom: 2rem;
    }

    .hero-heading span {
        font-size: 5rem;
    }

    .booking_banner {
        height: 12vh;
    }

    .hero-heading {
        height: 10rem;

    }

    .mortgage-paragraph {
        width: 60rem;
        height: 50vh;
        font-size: 3rem;
    }

    .booking-wp {
        height: 80vh;
    }

    .booking_banner {
        margin-bottom: 1rem;
    }

    .form_wp {
        width: 80rem;
        height: 60rem;
    }

    .booking_form {
        padding: 3rem;

    }

    .booking_form p {
        padding-top: 3rem;
        font-size: 2.5rem;
    }

    .booking_form label {
        font-size: 2rem;
    }

    .header h1 {
        font-size: 3rem;
    }

    .form_input {
        width: 20rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        padding: 7px 0;

    }

    .close_btn {

        bottom: -10%;
        right: 3%;
        font-size: 15px;

    }


    html {
        font-size: 35%;
    }
}

@media(max-width:450px) {
    .video_section {
        width: 60rem;
    }

    .about_text {
        width: 60rem;
    }
    .hero-heading span {
        font-size: 5rem;
    }

    .booking_banner {
        height: 10vh;
    }


    .hero-heading {
        height: 10rem;

    }

    .mortgage-paragraph {
        width: 70rem;
        height: 50vh;
        font-size: 4rem;
    }

    canvas#myChart {
        height: 250px;
        width: 250px;
    }

    .form_wp {
        height: auto;
    }

    .toggler-wrapper {
        width: 22px;
        height: 12px;
    }

    .toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
        left: calc(100% - 9px - 1.5px);
    }

    .toggler-wrapper.style-1 .toggler-knob {
        width: calc(12px - 3px);
        height: calc(12px - 3px);
        left: 1.5px;
        top: 1.5px;

    }

    .booking_form button {

        width: 25rem;
        font-size: 10px;
     }    
     .close_btn {

        bottom: -10%;
        right: 3%;
        font-size: 15px;

    }
    
    html {
        font-size: 30%;
    }
}

@media(max-width:320px) {
    .section_one {
        height: 50vh;
        background: url(../images/homeImage2.webp) no-repeat center;
        background-size: cover;
    }

    .section_about {
        height: 80vh;
    }

    .hero-heading span {
        font-size: 5rem;
        letter-spacing: 2rem;
    }

    .video_section {
        width: 60rem;
        margin-bottom: 5rem;
    }

    .about_text {
        width: 60rem;
    }
    .section_banner {
        height: 50vh;
    }    
    canvas#myChart {
        width: 200px;  
        height: 200px;             
    }
    .menu {
        font-size: 2rem;
    }

    .hero-heading span {
        font-size: 3rem;
        letter-spacing: 1rem;
    }

    .mortgage-paragraph {
        width: 55rem;
        height:60vh;
    }

    .close_btn {
        bottom: -10%;
        right: 5%;
        font-size: 15px;

    }
    html {
        font-size: 25%;
    }
}
